$bg-header: #ffffff;
$link-hover: #000000;
$link-act-vis: #666666;
$bg-form: #f6f7f8;
$button-col: #5995da;
$button-hov: #76aeed;
$button-act: #407fc7;
$button-close: #dd4949;
$button-close-hov: rgb(180, 89, 89);
$button-close-act: rgb(119, 40, 40);