/* TRABAJOS CSS */
.cont-trabajos {
   @extend %grid-general;
    margin-top: 150px;
    grid-template-areas: 
    "trab-left1 trab-right1"
    "trab-left2 trab-right2";
    grid-template-rows: 250px;

    div {
        p {
        padding-top: 1em;
        width: 90%;
        @include font-p (#fff8dc, 1em);

        }

        img {
            max-width: 90%;
            border-radius: 15px;
        }           
    }

    .trab-left1, .trab-left1-back {
        grid-area: trab-left1;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img {
            border-radius: 15px;
            transition: all .8s;

            &:hover {
                transform: translate(20px, 20px);
                opacity: 0.05;
                visibility: hidden;
            }
        }
    }
    
    .trab-right1, .trab-right1-back {
        grid-area: trab-right1;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img {
            border-radius: 15px;
            transition: all .8s;

            &:hover {
                transform: translate(-20px, 20px);
                opacity: 0.05;
                visibility: hidden;
            }
        }
    }
    
    .trab-left2, .trab-left2-back {
        grid-area: trab-left2;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img {
            border-radius: 15px;
            transition: all .8s;
            
            &:hover {
                transform: translate(20px, -20px);
                opacity: 0.05;
                visibility: hidden;
    
            }
        }
    }
    
    .trab-right2, .trab-right2-back {
        grid-area: trab-right2;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 15px;
            transition: all .8s;
            
            &:hover {
                transform: translate(-20px, -20px);
                opacity: 0.05;
                visibility: hidden;

            }
        }
    }

    @media screen and (max-width: 550px) {
        display: flex;
        grid-template-columns: 90%;
        flex-direction: column;
        margin: 10px;

        .trab-left1, .trab-left1-back, .trab-right1, .trab-right1-back, .trab-left2, .trab-left2-back, .trab-right2, .trab-right2-back {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            img {
                border-radius: 15px;
                transition: none;
    
                &:hover {
                    transform: translate(0,0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

}